{% extends 'themes/1.0/Template.html.twig' %}

{% set logon = false %}

{% block content %}
    <h1>Contact us</h1>

    <span>{{ settings['Contact briefing']|raw }}</span>

    <div class="contact_form">
        <div>
            <form class="contact_form">
                <span>
                    Your name (required)
                    <input class="interpersona" type="text" name="name" required/>
                </span>

                <span>
                    Your Email (required)
                    <input class="interpersona" type="email" name="email" required/>
                </span>

                <span>
                    Subject
                    <input class="interpersona" type="text" name="subject" required/>
                </span>

                <span>
                    Your message
                    <textarea class="interpersona" type="textarea" name="message" required></textarea>
                </span>

                <button class="interpersona" type="submit">Send</button>
            </form>
        </div>

        <div>
            <h3>Contact information</h3>
            <span>{{ settings['Contact info']|raw }}</span>
        </div>
    </div>
{% endblock %}