// Content-tools public
div.container > div.content
{
  image,
  [data-ce-tag=img],
  img,
  video
  {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
  }

  iframe, .ce-element--type-video
  {
    margin-bottom: 15px;
  }

  image.align-left,
  [data-ce-tag=img].align-left,
  img.align-left,
  video.align-left,
  .align-left
  {
    clear: initial;
    float: left;
    margin-right: 1em;
  }

  image.align-right,
  [data-ce-tag=img].align-right,
  img.align-right,
  video.align-right,
  .align-right
  {
    clear: initial;
    float: right;
    margin-left: 1em;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }
}

// Variables
@base-font: Calibri;
@orange: rgba(177, 120, 0, 255);

// Interpersona components
*
{
  .interpersona
  {
    &[type=submit], &[type=button]
    {
      perspective: 1px;

      .uppercase;
      position: relative;

      outline: 0;

      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 10px;

      min-height: 45px;
      min-width: 140px;

      border: 1px solid #fff;

      text-align: center;
      color: rgba(255,255,255,255);
      font-weight: bold;
      font-size: 15px;
      background-color: transparent;

      cursor: pointer;
      overflow: hidden;

      -webkit-transition: .1s;
      -moz-transition: .1s;
      -ms-transition: .1s;
      -o-transition: .1s;
      transition: .1s;

      &:before
      {
        z-index: -1;
        display: block;
        position: absolute;
        content: '';
        background-color: #fff;
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;

        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
      }

      &:hover:before { top: 0 }
      &:hover { color: @orange }
    }

    &[type=text], &[type=email], &[type=textarea]
    {
      border: none;
      padding: 7px;
      width: 100%;

      background: rgb(255, 255, 255);

      &[type=textarea]
      {
        min-height: 120px;
      }

      &:focus
      {
        background: linear-gradient(#dadada, #fff);
      }
    }
  }

  div.content
  {
    button
    {
      border: 1px solid #000 !important;
      color: @orange !important;

      &:before { background-color: @orange !important }
      &:hover { color: rgba(255, 255, 255, 255) !important }
    }

    textarea
    {
      font-family: @base-font;
    }
  }
}

// -Interpersona components

@font-face {
  font-family: FontAwesome;
  src: url(/font/FontAwesome.otf);
}

.uppercase { text-transform: uppercase }
* { box-sizing: border-box }
* { outline: 0 !important }
a
{
  color: inherit;
  text-decoration: inherit;
}

@container_width: 1230px;
@container_margin: 10px;

/** Main theme **/
body
{
  margin: 0;

  background-color: #1a1a1a;
  background-image: url(/img/bg_95f5f66cb1d2d1a035a0cab42ed3d150.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;

  > div.container
  {
    margin: 0 auto;

    width: @container_width;
    background-color: #fff;

    > *
    {
      width: 100%;

      &:first-child { margin: 0 }
    }

    > header
    {
      overflow: hidden;

      position: relative;
      margin-bottom: 20px !important;
      background-color: #fff;

      div.logo
      {
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 10px;

        display: inline-block;
        width: 330px;
        height: 73px;

        background-size: cover;
      }

      div.underline
      {
        pointer-events: none;

        position: absolute;
        bottom: 16px;
        width: 0px;
        border-bottom: 2px solid #b9b9b9;

        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
      }

      ul.menu
      {
        width: @container_width;

        border-top: 1px solid #b9b9b9;
        //border-bottom: 1px solid #b9b9b9;
        padding-top: 10px;
        padding-bottom: 10px;

        text-align: center;

        > li
        {
          color: #515151;
          list-style-type: none;
          font-family: @base-font;
          display: inline-block;

          &:not(:last-child) { margin-right: 45px }

          &:hover
          {
            color: #000000;
            text-decoration: underline;
          }

          &.active
          {
            color: #B17800;
            text-decoration: underline;
          }
        }
      }
    }

    > footer
    {
      * { perspective: 1px }

      position: relative;
      margin: 0;

      border-top: solid 14px #e9eaee;

      background-color: #232425;

      > *:not(span) { padding: 30px }

      > div
      {
        display: inline-table;
        width: 33%;

        a
        {
          color: #BFBFBF;
          text-decoration: none;

          &:hover { text-decoration: underline }
        }

        h1
        {
          text-transform: uppercase;
          color: #DDDDDD;

          font-size: 13px;
          font-family: @base-font;
          font-weight: 400;
        }

        span
        {
          white-space: pre-line;

          color: #8C8989;
          font-size: 14px;
          font: 13px/20px @base-font;
        }

        ul.sitemap
        {
          padding: 0;
          padding-top: 10px;

          > li
          {
            margin: 0;
            list-style-type: none;
            color: #bfbfbf;
            font: 13px/20px @base-font;

            &:hover, &.active { text-decoration: none; color: #B17800 !important; border-color: #B17800 !important }

            &:not(:first-child) { padding-top: 15px }
            border-bottom: 1px solid #bfbfbf;

            a
            {
              &:hover { text-decoration: none }

              width: 100%;
              height: 100%;
              display: block;

              padding-bottom: 15px;
            }
          }
        }
      }

      > span
      {
        display: block;
        width: 100%;
        background-color: #1a1a1a;
        border-top: 1px solid #7f7f7f;
        margin-top: 30px;

        padding: 20px 30px 20px 30px;
        font: 12px @base-font;
        color: gray;
      }

      form.contact_form
      {
        overflow: hidden;
        max-width: 280px;

        > *
        {
          display: block;
        }

        > span
        {
          &:last-of-type
          {
            margin-bottom: 25px;
          }
        }

        &.sent:after
        {
          padding-top: 120px;
          height: 100%;
        }

        &:after
        {
          -webkit-transition: .7s;
          -moz-transition: .7s;
          -ms-transition: .7s;
          -o-transition: .7s;
          transition: .7s;

          overflow: hidden;
          position: absolute;
          content: 'Thank you';

          left: 0;
          top: 0;
          width: 100%;
          height: 0%;

          background-color: #232425;

          // Text
          text-align: center;
          padding-top: 0px;
          color: #DADADA;
          font-family: @base-font;
          font-size: 56px;
        }
      }
    }
  }
}

/** Content **/
body
{
  > div.container
  {
    > div.content
    {
      padding: 0 20px 20px 20px;

      word-wrap: break-word;

      font-family: @base-font;
      font-size: 14px;
      color: #333333;

      /** Common elements **/

      *
      {

      }

      table
      {
        width: 100%;
        max-width: 400px;
        border: 1px solid #b6b6b6;
        border-collapse: collapse;

        tr > *:last-child { padding-top: 0 }

        th
        {
          * { border: none }
          background-color: #e0e0e0;
        }

        td, th
        {
          font-weight: normal;
          padding: 5px;

          &:last-child { padding-bottom: 0 }
        }

        tr:not(:last-child) { border-bottom: 1px solid #b6b6b6 }
      }

      > h1
      {
        font-size: 14pt;
        font-weight: bold;

        &:after
        {
          content: '';
        }
      }

      > h2
      {
        font-size: 12pt;
        font-weight: bold;
      }

      ul
      {
        display: inline-block;
        padding-left: 30px;

        li
        {
          position: relative;
          list-style-type: none;

          &:not(:last-child) { margin-bottom: 20px }

          &:before
          {
            -webkit-transition: .2s;
            -moz-transition: .2s;
            -ms-transition: .2s;
            -o-transition: .2s;
            transition: .2s;

            font-family: FontAwesome;
            font-size: 11px;
            text-align: center;
            padding-top: 5px;

            position: absolute;
            content: '\f00c';
            left: -30px;
            background-color: rgb(215, 215, 215);
            border-radius: 100%;
            width: 20px;
            height: 16px;
            top: -3px;
          }

          &:hover:before { background-color: rgb(195, 195, 195) }
        }
      }

      /** Special elements **/

      > div.cover
      {
        display: block;

        width: 1190px;
        height: 350px;
        background-size: cover;
        background-position: center center;
      }

      > ul.slider
      {
        position: relative;

        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: 350px;

        background-color: #0d0f14;

        background-image: url(/img/measure.jpg);
        background-repeat: no-repeat;
        background-position: 50% 83%;

        -webkit-transition: 7s;
        -moz-transition: 7s;
        -ms-transition: 7s;
        -o-transition: 7s;
        transition: 7s;

        h1
        {
          position: absolute;

          bottom: 0;
          left: 18px;

          text-transform: uppercase;
          color: #DDDDDD;

          font-size: 21px;
          font-family: @base-font;
          font-weight: 400;

          -webkit-text-shadow: 1px 1px 1px #000;
          -moz-text-shadow: 1px 1px 1px #000;
          text-shadow: 1px 1px 1px #000;
        }
      }

      > span.quote
      {
        position: relative;

        display: block;
        padding: 0px 20px 20px 20px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 98%;
        white-space: pre-line;
        text-align: left;
        font-family: @base-font;
        font-weight: bold;
        font-size: 18px;

        color: #5F5F5F;

        &:before
        {
          position: absolute;
          left: -10px;
          top: -16px;

          color: #333;
          font-family: FontAwesome;
          content: '\f10d';
          font-size: 30px;
        }

        &:after
        {
          position: absolute;
          right: -10px;
          bottom: -10px;

          color: #333;
          font-family: FontAwesome;
          content: '\f10e';
          font-size: 30px;
        }
      }

      div.flip_boxes
      {
        padding: 0;

        > div
        {
          -webkit-perspective: 600px;
          -moz-perspective: 600px;
          -ms-perspective: 600px;
          perspective: 600px;

          white-space: pre-line;

          position: relative;
          display: inline-block;
          width: 33%;
          min-height: 232px;

          > div
          {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height:100%;
            padding: 10px;

            -webkit-transition: .6s;
            -moz-transition: .6s;
            -ms-transition: .6s;
            -o-transition: .6s;
            transition: .6s;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
          }

          &:hover:not(.static) div:first-child
          {
            color: #2f2f2f;

            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
          }

          &:hover:not(.static) div:last-child
          {
            overflow-y: auto;

            color: #e8e8e8;

            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
          }

          > div:first-child
          {
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

            background-color: #f1f1f1;

            text-align: center;

            h1
            {
              font-family: @base-font;
              font-size: 19px;
              color: #8f8f8f;
            }

            span
            {
              font-family: @base-font;
              font-size: 15px;
              color: #8f8f8f;
            }
          }

          > div:last-child
          {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);

            background-color: #b17800;

            text-align: center;

            h3
            {
              font-family: @base-font;
              font-size: 15px;
              color: #e2e2e2;
            }

            span
            {
              font-family: @base-font;
              font-size: 13px;
              color: #fff;
            }
          }

          &:not(:last-of-type) { margin-right: 2px }

          > div
          {
            button
            {
              perspective: 1px !important;

              .uppercase !important;
              position: relative !important;

              outline: 0 !important;

              display: block !important;
              padding-top: 7px !important;
              padding-bottom: 7px !important;
              margin-top: 10px !important;

              width: 100% !important;
              min-height: 50px !important;

              border: 1px solid #fff !important;
              border-radius: 5px !important;

              text-align: center !important;
              color: rgba(255,255,255,255) !important;
              font-weight: bold !important;
              font-size: 15px !important;
              background-color: transparent !important;

              cursor: pointer !important;
              overflow: hidden !important;

              -webkit-transition: .1s !important;
              -moz-transition: .1s !important;
              -ms-transition: .1s !important;
              -o-transition: .1s !important;
              transition: .1s !important;

              &:before
              {
                z-index: -1 !important;
                display: block !important;
                position: absolute !important;
                content: '' !important;
                background-color: #fff !important;
                width: 100% !important;
                height: 100% !important;
                left: 0 !important;
                top: -100%;

                -webkit-transition: .3s !important;
                -moz-transition: .3s !important;
                -ms-transition: .3s !important;
                -o-transition: .3s !important;
                transition: .3s !important;
              }

              &:hover:before { top: 0 !important }
              &:hover { color: @orange !important }
            }
          }

          /** Flip box components **/
          ul
          {
            list-style-type: none;

            li
            {
              display: inline-block;
              margin: 0;
              margin-right: 20px;

              &:before, &:after { display: none !important }

              a
              {
                display: block;
                position: relative;

                &:hover { &:before { opacity: 1 } }

                &:before
                {
                  -webkit-transition: .2s;
                  -moz-transition: .2s;
                  -ms-transition: .2s;
                  -o-transition: .2s;
                  transition: .2s;

                  position: absolute;
                  display: block;
                  content: '';

                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;

                  opacity: 0;

                  background-color: rgba(255, 255, 255, .5);
                }
              }
            }
          }
        }
      }
    }
  }

  div.disclaimerContainer
  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    div.disclaimer
    {
      position: fixed;
      width : 80%;
      height : 80%;

      border-radius: 5px;
      padding : 15px;
      -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);

      left : 50%;
      top : 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

      background-color: #FFF;

      div
      {
        overflow-y: auto;
        max-height: 90%;

        font-family: Arial;
        word-wrap: break-word;
        white-space: pre-line;
      }

      button
      {
        display: inline-block !important;
        width : 50% !important;
        height : 70px !important;
        background-color: #b17800 !important;
      }
    }
  }
}

/** Individual pages **/
// Contact
body
{
  div.contact_form
  {
    display: flex;

    h1, h2, h3, h4, h5 { margin-top: 0 }


    > div
    {
      display: inline-block;
    }

    > div:first-child
    {
      width: 60%;

      span
      {
        display: block;

        &:not(:last-of-type) { margin-bottom: 15px }

        input[type=text], input[type=email], textarea
        {
          -webkit-transition: .4s;
          -moz-transition: .4s;
          -ms-transition: .4s;
          -o-transition: .4s;
          transition: .4s;

          margin-top: 7px;
          border: 1px solid #525252;
        }
      }

      form.contact_form
      {
        position: relative;

        &.sent:after
        {
          padding-top: 50px;
          height: 100%;
        }

        &:after
        {
          overflow: hidden;

          -webkit-transition: .6s;
          -moz-transition: .6s;
          -ms-transition: .6s;
          -o-transition: .6s;
          transition: .6s;

          position: absolute;
          content: 'Thank you';
          left: 0;
          top: 0;
          width: 100%;
          height: 0;

          background-color: #fff;

          font-size: 45px;
          text-align: center;
          padding-top: 0px;
        }
      }
    }

    > div:last-child
    {
      width: 50%;

      padding-left: 25px;

      span
      {
        white-space: pre-line;
        color: #333;
        font-size: 14px;
        font: 13px/20px @base-font;
      }
    }
  }
}

// Serenity-fund
body
{
  div.content.serenity-fund
  {
    > p
    {
      > *
      {
        display: block;
      }
    }

    h1, h2, h3, h4, h5, .title
    {
      margin: 0;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    .title
    {
      font-size: 1.5em;
      font-weight: bold;
    }

    blockquote
    {
      border-left: 4px rgb(175, 175, 175) solid;
      padding-left: 10px;
      padding: 15px;
      font-style: italic;
      background-color: #F7F7F7;

      -webkit-transition: .2s;
      -moz-transition: .2s;
      -ms-transition: .2s;
      -o-transition: .2s;
      transition: .2s;;

      &:hover{ border-color: rgb(128, 128, 128) }
    }

    .bullets
    {
      display: inline-table;
      //width: 50%;
    }

    table
    {
      margin-top: 25px;
      max-width: inherit !important;
      display: inline-table;

      table, th, td
      {
        border: 1px solid gray !important;
      }

      tr
      {
        border-top: none;
      }

      th, td
      {
        padding: 8px !important;
      }
    }

    .bullets-table
    {
      display: inline-table;

      p, div, span:not(.title)
      {
        line-height: 21px;
        white-space: pre-line;
        padding: 18px;
        background-color: #efefef;

        b, strong
        {
          font-size: 16px;
          color: @orange;
        }
      }
    }

    ul
    {
      width: 100%;
    }

    button
    {
      margin-top: 0;
    }
  }
}