<html>
<head>
    <title>Interpersona - Investment Solutions designed to your needs</title>

    <link rel="stylesheet" href="/admin/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/admin/css/default.css&login.css"/>

    <script src="/admin/js/jquery-1.12.0.min.js"></script>
    <script src="/admin/js/bootstrap/bootstrap.min.js"></script>
    <script src="/admin/js/default.js"></script>
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>