{%- extends 'themes/' ~ theme ~ '/Template.html.twig' -%}

{% block add_content %}
    <div class="content serenity-fund"{% if logon != false %} data-editable page-id="{{ page.pages_id }}" data-name="content"{% endif %}>

        <h1>
            About Serenity Fund
        </h1>
        <p>
            The Clearview Serenity Fund is a daily traded Luxemburg UCITS IV fund with the objective to provide long term capital appreciation by investing into actively selected equities and regulated UCITS that invest across a range of asset classes globally.
        </p>
        <blockquote>
            The fund aims to provide a steady capital growth over the medium-term while controlling volatility on the underlying equity based investments.
        </blockquote>
        <p>
            Our multi-asset approach will also expose the investors to bonds, money market instruments and UCITS compliant alternatives.
        </p>
        <div class="static-content pull-left bullets" style="width: 50%;"><h2>Opportunities</h2><ul><li>Decrease of volatility by combining different investment categories and diversifyng the invested funds over various asset classes.</li><li>Professional Investment Managers with a long track record and years of experience.</li><li>Active risk management to obtain capital preservation.</li><li>Profit from positive performance in equity and bond markets.</li><li>Active fund management to target positive performance even in slow markets. </li></ul></div>
        <div class="pull-right bullets" style="width: 50%;"><h2>Risks</h2><ul><li>Market-, sector- and enterprise related drops in the equity and bond investments of the fund.</li><li>General, geographical and geopolitical country risk.</li><li>Counter party risk which could cause a total loss of the underlying investment due to insolvency of the issuer.</li><li>Currency risk.</li><li>Investors will suffer a loss if investors sell their assets under the NAV they bought at.</li></ul></div>
        <div class="pull-left bullets" style="width: 64%;"><h2>Key Features</h2><ul><li>Luxemburg domiciled Investment Fund.</li><li>Independent Board of Directors.</li><li>Independent Fund Accounting and NAV calculation.</li><li>Custody Safekeeping of investors assets.</li><li>External Audit of Fund activities and valuation.</li><li>Tax and Legal Supervision.</li><li>Overall Fund Supervision by the Financial Regulator Commission de Surveillance du Secteur Financier, Luxembourg.</li></ul><h2>Key Advantages UCITS</h2><ul><li>Greater Liquidity</li><li>Greater Transparancy</li><li>Greater Risk Management</li><li>Investment Restrictions</li></ul></div>
        <div class="pull-right bullets-table" data-name="content" style="width: 35%;"><span class="title">Key Facts</span><div><b>Fund Domicile</b>: Luxemburg Regulated UCITS IV
                <b>Investment Manager</b>: Fiducenter S.A.
                <b>Custodian Bank</b>: RBC Investor Services Bank S.A.
                <b>Administrator</b>: RBC Investor Services Bank S.A.
                <b>Auditor</b>: PwC
                <b>Law Firm</b>: PwC
                <b>Currency Options</b>: EUR / GBP / USD
                <b>Minimum Investment</b>: 1000 EUR / 1000 GBP / 1000 EUR
                <b>AMC</b>: up to a maximum of 2%
                <b>Administration Fee</b>: up to 0.2%
                <b>Performance Fee</b>: 10%
                <b>Hurdle Rate</b>: 0.5% monthly
                <b>Up Front Fee</b>: 0%
                <b>Redemption Fee</b>: 5% decreasing to 0% after 5 years
                <b>Redemption Notice</b>: Before 3pm Luxemburg time daily
                <b>Liquidity</b>: Daily
            </div></div>
        <table style="width: 100%">
            <thead>
            <tr>
                <th align="left">
                    Fund Share Class
                </th>
                <th align="left">
                    ISIN Code
                </th>
                <th align="left">
                    Latest factsheet
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    LFPARTNERS INVESTMENT FUNDS SERENITY FUND EUR (institutional)
                </td>
                <td>
                    LU1348720712
                </td>
                <td>
                    <button class="interpersona" type="submit">DOWNLOAD</button>
                </td>
            </tr>
            <tr>
                <td>
                    LFPARTNERS INVESTMENT FUNDS SERENITY FUND EUR (retail)
                </td>
                <td>
                    LU1348721959
                </td>
                <td>
                    <button class="interpersona" type="submit">DOWNLOAD</button>
                </td>
            </tr>
            <tr>
                <td>
                    LFPARTNERS INVESTMENT FUNDS SERENITY FUND GBP (retail)
                </td>
                <td>
                    LU1348723658
                </td>
                <td>
                    <button class="interpersona" type="submit">DOWNLOAD</button>
                </td>
            </tr>
            <tr>
                <td>
                    LFPARTNERS INVESTMENT FUNDS SERENITY FUND USD (retail)
                </td>
                <td>
                    LU1348728293
                </td>
                <td>
                    <button class="interpersona" type="submit">DOWNLOAD</button>
                </td>
            </tr>
            </tbody>
        </table>
        
    </div>
{% endblock %}