/** Fixes **/
td.success { background-color: inherit !important }

* { outline: 0 !important }

.alertbox
{
  position: absolute;
  top: 10%;
  left: 50%;

  z-index: 2;
  width: 80%;
  max-width: 380px;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  > *
  {
    -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);

    button[data-dismiss=alert] { opacity: 1 !important }

    &:hover
    {
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;

      opacity: 0.8;
    }
  }
}

nav
{
  .navbar-header
  {
    position: relative;

    img
    {
      width: 200px;
      margin-top: 5px;
    }
  }

  .navbar-text { margin-right: 10px }
}

/** Pages page **/
.manage-pages-header
{
  position: relative;

  > button
  {
    position: absolute;
    right: 0;
    top: 0;

  }
}

.pages-list
{
  tr
  {
    .btn-group
    {
      min-width: 79px;

      button, a { min-height: 34px }
      a { padding-top: 8px }
    }
  }

  input[type=text], [checkbox]
  {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  td.success:not([checkbox]) { background-color: inherit !important }

  .success input, .success[checkbox] { background-color: #ceffb4 !important }
  .fail input, .fail[checkbox] { background-color: #ffc7ca !important }
}

td.success
{
  *
  {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  
  input[type=text], input[type=email], input[type=password], textarea
  {
    background-color: #ceffb4;
  }
}

/** Media page **/

div.modal.add_file
{
  input[multiple]
  {
    position: relative;

    width: 100%;
    min-height: 400px;
    border: 1px #000 dotted;
    background-color: transparent;

    &:hover:before { background-color: #f4f4f4
    }

    &:before
    {
      content: 'Drag your files over here';
      position: absolute;
      left: 0;
      top: 0;

      background-color: #fff;

      width: 100%;
      height: 100%;

      cursor: pointer;
      
      text-align: center;
      padding-top: 170px;
      font-size: 27px;
    }
  }

  table
  {
    margin-top: 20px;
    width: 100%;

    td, th
    {
      text-align: left;

      span
      {
        width: 60px !important;
      }

      input, span
      {
        width: 90%;
      }
    }

    tr
    {
      &:first-child
      {
        margin-top: 10px
      }
    }
  }
}