@font-face {
  font-family: FontAwesome;
  src: url(/font/FontAwesome.otf);
}
.uppercase {
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  margin: 0;
  background-color: #1a1a1a;
  background-image: url(/img/bg.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
}
body > div.container {
  margin: 0 auto;
  width: 1230px;
  background-color: #fff;
}
body > div.container > * {
  width: 100%;
}
body > div.container > *:first-child {
  margin: 0;
}
body > div.container > header {
  margin-bottom: 20px !important;
  height: 150px;
  background-color: #000;
}
body > div.container > header i.logo {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: 300px;
  height: 60px;
  background-image: url(/img/logo.png);
  background-size: cover;
}
body > div.container > header ul.menu {
  width: 1230px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
body > div.container > header ul.menu > li {
  color: #ACABAB;
  list-style-type: none;
  font-family: sans-serif;
  display: inline-block;
}
body > div.container > header ul.menu > li:not(:last-child) {
  margin-right: 45px;
}
body > div.container > header ul.menu > li:hover {
  color: #fff;
}
body > div.container > header ul.menu > li.active {
  color: #B17800;
}
body > div.container > footer {
  position: relative;
  margin: 0;
  border-top: solid 14px #e9eaee;
  background-color: #232425;
}
body > div.container > footer > *:not(span) {
  padding: 30px;
}
body > div.container > footer > div {
  display: inline-table;
  width: 33%;
}
body > div.container > footer > div a {
  color: #BFBFBF;
  text-decoration: none;
}
body > div.container > footer > div a:hover {
  text-decoration: underline;
}
body > div.container > footer > div h1 {
  text-transform: uppercase;
  color: #DDDDDD;
  font-size: 13px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
body > div.container > footer > div span {
  white-space: pre-line;
  color: #8C8989;
  font-size: 14px;
  font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
}
body > div.container > footer > div ul.sitemap {
  padding: 0;
  padding-top: 10px;
}
body > div.container > footer > div ul.sitemap > li {
  margin: 0;
  list-style-type: none;
  color: #bfbfbf;
  font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfbfbf;
}
body > div.container > footer > div ul.sitemap > li:hover,
body > div.container > footer > div ul.sitemap > li.active {
  color: #B17800 !important;
  border-color: #B17800 !important;
}
body > div.container > footer > div ul.sitemap > li:not(:first-child) {
  padding-top: 15px;
}
body > div.container > footer > span {
  display: block;
  width: 100%;
  background-color: #1a1a1a;
  border-top: 1px solid #7f7f7f;
  margin-top: 30px;
  padding: 20px 30px 20px 30px;
  font: 12px 'PTSansRegular', Arial, Helvetica, sans-serif;
  color: gray;
}
body > div.container > div.content {
  padding: 0 20px 0 20px;
}
body > div.container > div.content > ul.slider {
  margin: 0 auto;
  width: 100%;
  height: 350px;
  background-color: #a4a4a4;
}
body > div.container > div.content > h1 {
  color: #333333;
  font-family: " Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14pt;
  font-weight: bold;
}
body > div.container > div.content > span.quote {
  position: relative;
  display: block;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
body > div.container > div.content > span.quote:before {
  position: absolute;
  left: -10px;
  top: -10px;
  color: #333;
  font-family: FontAwesome;
  content: '\f10d';
  font-size: 30px;
}
body > div.container > div.content > span.quote:after {
  position: absolute;
  right: -10px;
  bottom: -10px;
  color: #333;
  font-family: FontAwesome;
  content: '\f10e';
  font-size: 30px;
}
body > div.container > div.content div.flip_boxes {
  padding: 0;
}
body > div.container > div.content div.flip_boxes > div {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: relative;
  display: inline-block;
  width: 33%;
  min-height: 232px;
}
body > div.container > div.content div.flip_boxes > div > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body > div.container > div.content div.flip_boxes > div:hover div:first-child {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
body > div.container > div.content div.flip_boxes > div:hover div:last-child {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
body > div.container > div.content div.flip_boxes > div > div:first-child {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #f1f1f1;
  text-align: center;
}
body > div.container > div.content div.flip_boxes > div > div:first-child h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 19px;
  color: #8f8f8f;
}
body > div.container > div.content div.flip_boxes > div > div:first-child span {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 15px;
  color: #8f8f8f;
}
body > div.container > div.content div.flip_boxes > div > div:last-child {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #a6100c;
  text-align: center;
}
body > div.container > div.content div.flip_boxes > div > div:last-child h3 {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 15px;
  color: #e2e2e2;
}
body > div.container > div.content div.flip_boxes > div > div:last-child span {
  font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  color: #fff;
}
body > div.container > div.content div.flip_boxes > div > div button {
  text-transform: uppercase;
  position: relative;
  outline: 0;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 100%;
  min-height: 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  color: rgba(255,255,255,255);
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}
body > div.container > div.content div.flip_boxes > div > div button:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
body > div.container > div.content div.flip_boxes > div > div button:hover:before {
  top: 0;
}
body > div.container > div.content div.flip_boxes > div > div button:hover {
  color: rgba(166,16,12,255);
}
