{% extends 'themes/' ~ theme ~ '/Template.html.twig'  %}

{% block content %}
    <div class="page-header manage-pages-header">
        <h1>Manage media</h1>
        <button type="button" class="btn btn-primary btn-lg">Add files</button>
    </div>

    <div class="add_file modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add files</h4>
                </div>
                <div class="modal-body">

                    <form class=".col-xs-6 .col-md-4" action="/admin/api/upload_media">
                        <input type="file" name="media" multiple/>
                    </form>

                    <table>
                        <thead>
                            <th>URL</th>
                            <th>Slug</th>
                            <th>Filesize</th>
                            <th>Upload progress</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly class="form-control" type="text" value="http://interpersona.nl/media/48329f.jpg"/>
                                </td>
                                <td>
                                    <input class="form-control" type="text" value="48329f.jpg"/>
                                </td>
                                <td>
                                    <span>25kb</span>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="sr-only">45% Complete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="table-responsive">
        <table class="media dynamic-table table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}