{% extends 'themes/' ~ theme ~ '/Template.html.twig'  %}

{% block content %}
    <div class="page-header manage-pages-header">
        <h1>Manage users</h1>
        <button type="button" class="insert-record btn btn-primary btn-lg"><i class="glyphicon glyphicon-user"></i> Add user</button>
    </div>

    <div class="table-responsive">
        <table class="users dynamic-table table table-striped">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}